---
const exp = [{
    title: "Web developper",
    company: "LIRMM, in project Numdiag",
    date: "June - July 2025",
    desc: "During my internship for my 3rd year, I had the opportunity to conceptualize and develop web apps for the Numdiag project",
}];

---

<div class="Experience">
    <h2>Experience</h2>
    <ul>
        {exp.map(experience => (
            <li key={experience.title}>
                <h3>{experience.title}</h3>
                <p>{experience.company}</p>
                <p>{experience.date}</p>
                <p>{experience.desc}</p>
            </li>
        ))}
    </ul>
</div>